footer.footer
    .footer__logo
        img(src='/media/img/logo-green.png', alt="Natours logo")
    ul.footer__nav
        li: a(href='#') About us
        li: a(href='#') Download apps
        li: a(href='#') Become a guide
        li: a(href='#') Careers
        li: a(href='#') Contact
        li: a(href='https://t.me/IbodullayevAsadbek', target='_blank') Telegram: Cloner of Natours
    p.footer__copyright &copy; by Jonas Schmedtmann. All rights reserved.Cloned by Asadbek Ibodullaev